/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/plugins/ewww-image-optimizer/memory.log
/.phonegap
/wp-content/storage
/.bash_history
/test.php
.git
/*.sql
/*.sql.tgz
.idea
w3tc-config
.environment
.envrc
/node_modules
/cache
/upgrade
error_log
/local-debug.php
request_log.txt
.DS_Store
.svn
/wp-content/.logs
/*.sql
/*.sql.tar.gz
/*.sql.gz
/.envrc
npm-debug.log
